/*
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

-- Line heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

-- Letter spacing 
- 0.5px
- 0.75px

-- 02 COLORS

-- Primary: 

-- Tints: 

-- Shades: 

-- Accents:

-- Greys: 


-- 05 SHADOWS
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.75);

-- 06 BORDER-RADIUS
Default: 9px
Medium: 11px

-- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #2563eb;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  /* does not work on safari */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Inter";
  background: linear-gradient(#010610, #2563eb);
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* .header,
.section-hero {
  background: linear-gradient(#010610, #2563eb);
} */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: linear-gradient(#010610, #2563eb); */

  /* Because we want the header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  /* text-transform: uppercase; */
  transition: all 0.3s;
  color: #ddd;
  /* background-color: var(--color-primary); */
  /* padding: 1rem; */
  /* border: 2px solid var(--color-primary); */
  /* border-radius: 9rem; */
  /* width: fit-content; */
}

.main-nav-link:hover,
.main-nav-link:active {
  /* color: var(--color-primary); */
  /* border-radius: 9rem; */
  /* border: 2px solid var(--color-primary); */
  /* background-color: #ddd; */
  /* padding: 1.2rem; */
  border-bottom: 2px solid #ddd;
}

.header-btns {
  display: flex;
  gap: 1rem;
}

.cta-btn {
  border: 2px solid #ddd;
  padding: 1rem;
  border-radius: 1.2rem;
  background-color: #ddd;
  color: var(--color-primary);
  text-transform: uppercase;
}

.cta-btn--bg {
  color: #ddd;
  background-color: var(--color-primary);
  box-shadow: 0 0 12px rgba(0, 0, 100, 0.1);
  transform: scale(20);
}

.heading-primary {
  font-family: "Young Serif", sans-serif;
  font-size: 4.4rem;
  margin-bottom: 3.2rem;
  color: #ddd;
}

#business-focus {
  /* font-size: 4.4rem; */
  color: #000;
  text-shadow: 0 0 12px rgba(148, 179, 245, 0.7);
}

.section-hero {
  /* background: linear-gradient(#010610, #2563eb); */
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 9.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 5rem;
  color: #ddd;
}

.underline {
  border-bottom: 3px solid rgb(0, 0, 0);
  text-transform: uppercase;
}

.hero-vid {
  width: 100%;
}

.hero-btns {
  display: flex;
  gap: 1rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* only for btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--color-primary);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
  border: 2px solid #ddd;
  color: #ddd;
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--color-primary);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #ddd;
  color: var(--color-primary);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--color-primary);
  box-shadow: inset 0 0 0 3px #ddd;
}

.social-icons {
  padding-top: 2rem;
}
.social-icons a {
  color: #ddd;
  font-size: 2.4rem;
}

.section-features {
  padding: 9.6rem 0;
}

ion-icon {
  font-size: 3.6rem;
}

.feature-header-main {
  text-align: center;
}

.feature-cards {
  display: grid;
  grid-template-areas:
    ". one ."
    "two . three"
    ". four .";
  gap: 1rem;
}

.feature-card {
  border: black solid 2px;
  /* color: var(--color-primary); */
  background-color: #ddd;
  border-radius: 0.5rem;
  font-size: 2.4rem;
  padding: 1rem;
}

.feature-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

/* Steal like an artist */
.section-how {
  padding: 9.6rem 0;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ddd;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

/* .grid:last-child {
  margin-bottom: 0;
} */

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--center-v {
  align-items: center;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-number {
  font-size: 7.4rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img {
  width: 127%;
}
